RewriteEngine On
Options -Indexes

#CLIENT ROUTERS FRONTEND
RewriteRule ^$ /app/views/public/home.php [L]
RewriteRule ^product$ /app/views/public/product.php [L]
RewriteRule ^contact$ /app/views/public/contact.php [L]

RewriteRule ^auth/login$ /app/views/auth/login.php [L]
RewriteRule ^auth/register$ /app/views/auth/register.php [L]
RewriteRule ^auth/forgot_password$ /app/views/auth/lost-password.php [L]

#USER ROUTERS FRONTEND
RewriteRule ^cart$ /app/views/client/cart.php [L]
RewriteRule ^checkout/preview$ /app/views/client/payment_info.php [L]
RewriteRule ^checkout/payment$ /app/views/client/payment.php [L]
RewriteRule ^notice$ /app/views/client/notice.php [L]
RewriteRule ^order/success$ /app/views/client/success_order.php [L]
RewriteRule ^order/failure$ /app/views/client/failure_order.php [L]

#ADMIN ROUTERS FRONTEND
RewriteRule ^admin/home$ /app/views/admin/home.php [L]














#CLIENT ROUTERS BACKEND
RewriteRule ^api/auth/register$ /app/controllers/auth/signup.php [L]
RewriteRule ^api/auth/login$ /app/controllers/auth/login.php [L]
RewriteRule ^api/auth/forgot$ /app/controllers/auth/forgot.php [L]
RewriteRule ^api/auth/change$ /app/controllers/auth/change.php [L]
RewriteRule ^api/auth/logout$ /app/controllers/auth/logout.php [L]
RewriteRule ^api/test$ /app/models/test.php [L]
RewriteRule ^api/system/inforList$ /app/controllers/system/inforList.php [L]
RewriteRule ^api/product/productType$ /app/controllers/product/productType.php [L]

#USER ROUTERS BACKEND
RewriteRule ^api/user/info$ /app/controllers/user/info.php [L]
RewriteRule ^api/user$ /app/controllers/user/home.php [L]
RewriteRule ^api/user/avatar$ /app/controllers/user/avatar.php [L]

#CART ROUTERS BACKEND
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^api/user/cart$ /app/controllers/cart/get.php [L]
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^api/user/cart$ /app/controllers/cart/set.php [L]

#ORDER ROUTERS BACKEND
RewriteRule ^api/order/sale$ /app/controllers/order/sale.php [L]
RewriteRule ^api/order/paid$ /app/controllers/order/getpaid.php [L]
RewriteRule ^api/order/info$ /app/controllers/order/info.php [L]

#SYSTEM ROUTERS BACKEND
RewriteRule ^api/system/contact$ /app/controllers/system/contactInfo.php [L]

#ADMIN ROUTERS BACKEND

#PRODUCT ROUTERS BACKEND
RewriteRule ^api/product/info$ /app/controllers/product/info.php [L]

#PAYOS
RewriteRule ^api/payment/create$ /app/controllers/payment/create.php [L]
RewriteRule ^api/payment/check$ /app/controllers/payment/check.php [L]

#CUSTOM 404 ERROR PAGE
ErrorDocument 404 /app/views/public/404.php

# Ensure directories without index.php return a 404 error
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_FILENAME}/index.php !-f
RewriteRule ^.*$ /app/views/public/404.php [L]