.bg-custom-background {
    background-color: #262A2E;
}

.text-custom-blue{
    color: #0688B4;
}

.bg-custom-background-bl {
    background-color: #0688B4;
}

.bg-custom-background-bl-hover {
    background-color: #046484;
}